html, body, #mount-point {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #ff8800;
}
#mount-point {
    position: fixed;
}
.splash {
    width: 100%;
    height: 100%;
    background: #331133;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.logo {
    margin: 20px;
}
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 96px;
}
.splash-form {
    text-align: center;
}
.io {
    color: purple;
    font-size: 0.8em;
}
.name-input {
    border-radius: 32px;
    background: rebeccapurple;
    padding: 8px 16px;
    font-size: 16px;
    border: 0;
    color: white;
}
.name-input:hover {
    background: mediumpurple;
}
.name-input:focus {
    outline: none;
    /*background: rebeccapurple;*/
}
.name-input::placeholder {
    opacity: 0.5;
    color: white;
}
.submit-btn {
    border-radius: 32px;
    background: #ff8800;
    padding: 8px 24px;
    color: white;
    font-size: 16px;
    border: 0px;
    margin: 20px;
    font-weight: bold;
    border: 4px solid #ffcc00;
}
.submit-btn:hover {
    background: #ffaa00;
}
.submit-btn:focus {
    outline: none;
    background: #ff6600;
}