:root {
    --bg: #2A0F3F;
    --alt-color: #b26ee9;
    --darker-alt-color: #824eb9;
}
html, body, #mount-point {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #ff8800;
}
body {
    /* IE insists on displaying scrollbars for some reason */
    overflow: hidden;
    font-family: Arial;
}
a {
    text-decoration: none;
}

.subhead {
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    color: #dcd;
    margin: 0;
}
#mount-point {
    position: fixed;
}
.splash {
    width: 100%;
    height: 100%;
    background: #331133;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.logo {
    margin: 20px;
}
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 96px;
    margin: 0;
}
h2 {
    /*color: #cc6600;*/
    font-family: 'Luckiest Guy', cursive;
    color: var(--alt-color);
    margin: 0;
}
.splash-form {
    text-align: center;
}
.num {
    color: var(--alt-color);
    color: #ff8800;
    color: white;
    color: var(--alt-color);
    font-size: 1.2em;
}
.io {
    color: var(--alt-color);
    font-size: 0.8em;
}
.name-input {
    border-radius: 32px;
    background: rebeccapurple;
    padding: 8px 16px;
    font-size: 16px;
    border: 0;
    color: white;
    margin: 20px;
}
.name-input:hover {
    background: mediumpurple;
}
.name-input:focus {
    outline: none;
    /*background: rebeccapurple;*/
}
.name-input::placeholder {
    opacity: 0.5;
    color: white;
}
.submit-btn {
    border-radius: 32px;
    background: #ff8800;
    padding: 8px 24px;
    color: white;
    font-size: 16px;
    border: 0px;
    font-weight: bold;
    border: 4px solid #ffcc00;
    margin: 10px;
}
.submit-btn:hover {
    background: #ffaa00;
}
.submit-btn:focus {
    outline: none;
    background: #ff6600;
}
.submit-btn:disabled {
    color: #ffcc88;
}
.gallery {
    width: 800px;
    height: 110px;
    overflow-x: auto;
    /*margin: 20px;*/
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
}
.gallery-item {
    width: 50px;
    overflow: hidden;
    display: inline-block;
    margin: 0 16px;
}
.gallery-item--disabled {
    opacity: .5;
}
.gallery-link--disabled {
    cursor: not-allowed;
}
.gallery-item--selected {
    border: 4px solid orange;
}
.gallery-img {
    height: 67px;
}

.gallery::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background-color: #4a1f6f;
}

.gallery::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
    background-color: var(--bg);
}

.gallery::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: darkorange;
}

.more-io-games {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
    padding: 20px;
    color: var(--darker-alt-color);
}

.more-io-games a {
    color: #ff8800;
    color: var(--alt-color);
}

.featured-youtubers {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    padding: 20px;
}

.youtube-link {
    color: #dcd;
}

.featured-youtuber-name {
    font-size: 24px;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 8px;
    color: #f27ef9;
    letter-spacing: 1px;
}

.featured-youtuber-name img {
    vertical-align: middle;
}

.youtube-icon {
    width: 32px;
    margin-right: 10px;
}

.minor-links {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    padding: 20px;
    color: var(--darker-alt-color);
}

.minor-links a {
    color: var(--alt-color);
}

.minor-links button {
    color: var(--alt-color);
    border: none;
    background: none;
    font-size: 14px;
    display: inline;
    padding: 0;
    margin: 0;
    cursor: pointer;
}